#ticket-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: 1px;
  grid-gap: 15px;
}

.ticket {
  color: #856404;
}

.ticket:hover {
  color: #533f03;
  text-decoration: none;
}
.ticket-body {
  background-color: #fff3cd;
  border-radius: 10px;
  line-height: 1.4;
}
.ticket-body:hover {
  background-color: #ffeeba;
}

.ticket-header {
  background-color: #ffeeba;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  padding: 0.25em 0.5em 0 0.5em;
  h5 {
    padding-top: 0.1em;
  }
}

.ticket-description {
  padding: 0.5em 0.5em 0em 0.5em;
  margin: 0em;
}

.ticket-footer {
  display: flex;
  padding: 0em 0.5em 0.5em 0.5em;
  margin: 0em;

}
////------------
//.open-ticket-clickable:hover {
//  background-color: #ffeeba;
//  text-decoration: none;
//  border-radius: 10px;
//  color: #533f03;
//}
//
//.open-ticket-clickable {
//  background-color: #fff3cd;
//  text-decoration: none;
//  border-radius: 10px;
//  color: #856404;
//  margin-bottom: 0.75rem;
//  .ticket-header {
//    background-color: #ffeeba;
//  }
//}
//
//.closed-ticket-clickable:hover {
//  background-color: #d4edda;
//  text-decoration: none;
//  border-radius: 10px;
//  color: #0b2e13;
//}
//
//.closed-ticket-clickable {
//  background-color: #e5f4e8;
//  text-decoration: none;
//  border-radius: 10px;
//  color: #155724;
//  margin-bottom: 0.75rem;
//  .ticket-header {
//    background-color: #d4edda;
//  }
//}
//
//.ticket-header {
//  border-top-right-radius: 10px;
//  border-top-left-radius: 10px;
//  padding: 0.4rem 1rem 0.4rem 1rem;
//  h4 {
//    margin: 0px;
//  }
//}
//
//.ticket-body {
//  background-color: transparent;
//  border-bottom-right-radius: 10px;
//  border-bottom-left-radius: 10px;
//  padding: 0.75rem 0.75rem 0.6rem 0.75rem;
//}
//
//@media (min-width: 576px) {
//  #open-ticket-list {
//    padding-left: 2.5rem;
//    padding-right: 2.5rem;
//  }
//
//  #closed-ticket-list {
//    padding-left: 2.5rem;
//    padding-right: 2.5rem;
//  }
//}

.nav-account {
  color: rgba(255,255,255,0.5) !important;
}

.nav-account:hover {
  color: rgba(255,255,255,0.75) !important;
}

.no-hover-underline:hover {
  text-decoration: none;
}

.body-margin-bottom {
  margin-bottom: 250px;
}

.ticket-list-badge {
  line-height: 1.2rem !important;
  margin-right: -9px;
}


